# Python / Virtual Environment
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Temporary / Lock files
~$*.docx
~$*.xlsx
~$*.pptx
*.tmp

# Operating System Files
.DS_Store
Thumbs.db
